//Cores
$brand-blue: #0073CE;
$brand-blue-light: #00A5F0;
$brand-green-light: #00D7D7;
$brand-yellow: #FFC800;


//Escalas de cinza
$gray-600: #33303E;
$gray-500: #4B4752;
$gray-400: #7A7880;
$gray-300: #B1AEB5;
$gray-200: #D7D4DB;
$gray-100: #EDEBF0;


//Tipografia